NET "led(7)"    LOC = L18;
NET "led(6)"    LOC = F18;
NET "led(5)"    LOC = D17;
NET "led(4)"    LOC = D16;
NET "led(3)"    LOC = G14;
NET "led(2)"    LOC = J17;
NET "led(1)"    LOC = H14;
NET "led(0)"    LOC = C17;

NET "enable(0)" LOC = F17;
NET "enable(1)" LOC = H17;
NET "enable(2)" LOC = C18;
NET "enable(3)" LOC = F15;
